/* Base */
:root {
  --black: #1a1a1a;
  --mid-grey: #2d2d2d;
  --dark-grey: #212121;
  --white: #ffffff;
  --green:#55dd55;
  --blue: #3366cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Hack", "monospace";
  font-size: 1rem;
  color: var(--white);
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

/* General */
.color-blue
{
  color: var(--blue);
}

.color-green
{
  color: var(--green);
}

.btn {
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: var(--dark-grey);
}

.btn-little {
  font-size: 0.75rem;
  padding: 0.25em 0.50em;
}

.btn-big {
  font-size: 1rem;
  padding: 1em 2em;
}

/* Specific */
.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1em 2em;
  background-color: var(--mid-grey);
}

.prompt-io {
  display: inline-block;
  position: relative;
}

#cmdInput {
  font-family: inherit;
  font-size: 1rem;

  background: transparent;
  border: none;
  outline: none;
  line-height: 1.0;

  caret-color: var(--white);
  color: var(--white);
}

#cmdOutput {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.intro {
  display: flex;
  align-items: center;

  gap: 1em;
  border-radius: 1em;
  padding: 1.5em 1.5em;
  background-color: var(--mid-grey);
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1em;
  width: 35ch;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1em;
  width: 35ch;
}

.contact a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.svg-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

#user {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#projects {
  display: flex;
  flex-direction: column;
}

.project {
  width: 55ch;

  margin: 1em 1em;
  padding: 2em 2em;
  border-radius: 1em;

  background-color: var(--mid-grey);
}

.projectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 1em 2em;
  background-color: var(--mid-grey);
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.error h1 {
  font-size: 5rem;
}